<h1>Todo</h1>
<div class="container">
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>Date</label>
        <input type="date" [(ngModel)]="todo.tdate" class="form-control" name=Tdate required="required">
    </fieldset>

    <button (click)="saveTodo()" class="btn btn-success">Save</button>

</div>